server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/user_service_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: easyride
    password: 2721388927
    driver-class-name: com.mysql.cj.jdbc.Driver

  data:
    redis:
      host: localhost
      port: 6379
      password: 
      timeout: 10000ms
      lettuce:
        pool:
          max-active: 8
          max-wait: -1ms
          max-idle: 8
          min-idle: 0

mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  type-aliases-package: com.easyride.user_service.model
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl


rocketmq:
  name-server: 127.0.0.1:9876
  producer:
    group: PID_USER_SERVICE
  consumer:
    group: order-service-group   # 对于 order_service 中的消费者


jwt:
  secret: eyJhbGciOiJIUzI1NiJ9.eyJSb2xlIjoiQWRtaW4iLCJJc3N1ZXIiOiJJc3N1ZXIiLCJVc2VybmFtZSI6IkphdmFJblVzZSIsImV4cCI6MTczMDUxOTAzMywiaWF0IjoxNzMwNTE5MDMzfQ.MqqRh7kFha8Xkve5hz3qS8ZMnr5xr4HVhR93cuZT4Is
  expiration: 604800000  # 7 days in milliseconds

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG

management:
  health:
    redis:
      enabled: false



