server:
  port: 8082

spring:
  application:
    name: matching-service

  # 若使用数据库
  datasource:
    url: jdbc:mysql://localhost:3306/matching_service_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: matching
    password: 2721388927
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  data:
    redis:
      host: localhost
      port: 6379
      password:
      database: 0

rocketmq:
  name-server: localhost:9876
  producer:
    group: PID_MATCHING_SERVICE
  consumer:
    group: CID_MATCHING_SERVICE

# matching_service/src/main/resources/application.yml
matching:
  max-match-radius-km: 15
  max-driver-work-hours: 10 # Example
  rating-weight: 0.5
  distance-weight: 0.5
  carpool-max-passengers: 3