server:
  port: 8081

rocketmq:
  name-server: 127.0.0.1:9876
  producer:
    group: PID_ORDER_SERVICE
    topics:
      order-created: EASYRIDE_ORDER_CREATED_TOPIC
      order-status: EASYRIDE_ORDER_STATUS_CHANGED_TOPIC
      payment-settled: EASYRIDE_ORDER_STATUS_CHANGED_TOPIC
  consumer:
    payment-topic: EASYRIDE_PAYMENT_SUCCESS_TOPIC
    payment-group: CID_ORDER_SERVICE
    user-topic: EASYRIDE_USER_REGISTERED_TOPIC
    user-group: CID_ORDER_SERVICE
    matching-topic: EASYRIDE_MATCHING_EVENT_TOPIC
    matching-group: CID_ORDER_SERVICE

spring:
  data:
    redis:
      host: localhost
      port: 6379
      password:
      database: 0
  datasource:
    url: jdbc:mysql://localhost:3306/order_service_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC&characterEncoding=utf8
    username: order
    password: 2721388927
    driver-class-name: com.mysql.cj.jdbc.Driver
    hikari:
      connection-timeout: 30000
      maximum-pool-size: 10

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.MySQLDialect

jwt:
  secret: your_very_long_jwt_secret_key_that_is_at_least_32_characters_long
  expiration: 604800000  # 7 days in milliseconds

logging:
  level:
    root: INFO
    org.springframework.web: DEBUG
