server:
  port: 8082
 
spring:
  datasource:
    url: jdbc:mysql://localhost:3306/payment_service_db?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: payment
    password: 2721388927
    driver-class-name: com.mysql.cj.jdbc.Driver
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: https://your-issuer.com/
  data:
    redis:
      host: localhost
      port: 6379
      password: 
      database: 0
      lettuce:
        pool:
          max-active: 8
          max-idle: 8
          min-idle: 0
          max-wait: -1ms
 
mybatis-plus:
  mapper-locations: classpath*:/mapper/**/*.xml
  type-aliases-package: com.easyride.payment_service.model
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
 
rocketmq:
  name-server: 127.0.0.1:9876
  producer:
    group: PID_PAYMENT_SERVICE
  consumer:
    group: CID_PAYMENT_SERVICE
 
logging:
  level:
    "[root]": INFO
    org.springframework.web: DEBUG
 
# Payment Gateway Configurations
payment-gateway:
  paypal:
    client-id: your_paypal_client_id
    client-secret: your_paypal_client_secret
    mode: sandbox # or live
  stripe:
    api-key: your_stripe_api_key